# Supabase
SUPABASE_URL=https://mhcawwynxsceratdianx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_OIcz5tDOzmAS02BYVVLxgA_JZ7QyMV2

# JWT
JWT_SECRET=ChaacXanab_Secure_Auth_2026_9f8d7c6b5a4e3d2c1b0a9f8e7d6c5b4a3
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dtyqts4el
CLOUDINARY_API_KEY=748128134935468
CLOUDINARY_API_SECRET=DtVtgB75cWBcp_RKMgCAqnj5TUI

# WebAuthn
WEBAUTHN_RP_ID=localhost
WEBAUTHN_ORIGIN=http://localhost:4200
WEBAUTHN_RP_NAME=CHAAC XANAB

# Seed (usuario admin inicial)
SEED_ADMIN_EMAIL=admin@chaac.mx
SEED_ADMIN_PASSWORD=Admin1234!

# App
PORT=3000
